/* common shared styles */
body {
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

/* nav bar style */
.text-primary {
  color: #fd6e0a;
}

.btn-primary {
  background-color: #fd6e0a;
  /* width: 150px;
    height: 64px; */
  border-radius: 5px;
  border: 0;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
  color: white;
  padding: 15px 35px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-right:200px;
    margin-left: 200px; */
  margin: 0px 200px;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}

nav>ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
  margin-right: 50px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url("/images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner-content {
  max-width: 500px;
}

.banner .profile-pic {
  width: 500px;
}

.banner-greeting {
  font-size: 45px;
  font-weight: 300;
  color: #474747;
  margin-bottom: 0;
}

.banner-title {
  font-size: 80px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0;
}

/* main section styles */
.main {
  max-width: 1140px;
  margin: 0 auto;
}

.about {
  margin: 120px 130px;
  padding: 30px 150px;
  background-color: #fff8f3;

}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

.section-description {
  color: var(--dark-03, #757575);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-info {
  text-align: center;
}

.info-title {
  font-weight: normal;
}

.info-description {
  font-weight: bold;
}

/* what i do section styles */
.what-i-do{
  /* margin: 120px 130px; */
  margin: 20px 115px;
  /* padding: 20px 0px; */
  /* padding: 10px 150px; */
}

#what-i-do-description {
  /* margin: 120px 130px; */
  font-size: 15px ;
  font-weight: 400;
  padding:0px 170px ;
}

.skills-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap:25px;
  /* padding: 0px 150px; */
}

.skills {
  background-color: white;
  box-shadow: #474747;
  width: 265px;
  height: 330px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  
  /* box shadow bujini */
  
  padding: 30px;
}

.skill-title {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
}

.skill-description {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}